@page
@model KoiProject.WebApplication.Pages.Phongthuy2024Model


@{
}

<div class=" Phongthuy">
    <div class="header-blog">Phong Thủy</div>
    <div class="subheader">
        Một blog Phong thủy hàng đầu và kho kiến thức bao gồm tất cả các khía cạnh của nghệ thuật cổ
        xưa này
    </div>

    <div class="container-blog">
        <div class="category">
            <img src="~/Images/Tranh-Phong-Khach.jpg" alt="Trang chủ & Trang trí">
            <div class="category-title"><a href="#">Trang chủ & Trang trí</a></div>
        </div>
        <div class="category">
            <img src="~/Images/anh-van-phong.jpg" alt="Văn phòng & Sự nghiệp">
            <div class="category-title"><a href="#">Văn phòng & Sự nghiệp</a></div>
        </div>
        <div class="category">
            <img src="~/Images/su-tu-da.jpg" alt="Chữa bệnh & Tăng cường">
            <div class="category-title"><a href="#">Chữa bệnh & Tăng cường</a></div>
        </div>
        <div class="category">
            <img src="~/Images/tien.jpg" alt="Sự giàu có">
            <div class="category-title"><a href="#">Sự giàu có</a></div>
        </div>
        <div class="category">
            <img src="~/Images/tinh-yeu.jpg" alt="Yêu">
            <div class="category-title"><a href="#">Yêu</a></div>
        </div>
        <div class="category">
            <img src="~/Images/nhan-tuong-hoc.jpg" alt="Nhân tướng học">
            <div class="category-title"><a href="#">Nhân tướng học</a></div>
        </div>
        <div class="category">
            <img src="~/Images/truyen-thong.jpg" alt="Truyền thống">
            <div class="category-title"><a href="#">Truyền thống</a></div>
        </div>
        <div class="category">
            <img src="~/Images/phong-cach-song.jpg" alt="Phong cách sống">
            <div class="category-title"><a href="#">Phong cách sống</a></div>
        </div>
        <div class="category">
            <img src="~/Images/phong-thuy-hang-nam.jpg" alt="Phong thủy hàng năm">
            <div class="category-title"><a href="#">Phong thủy hàng năm</a></div>
        </div>
        <div class="category">
            <img src="~/Images/pha-le.jpg" alt="Pha lê">
            <div class="category-title"><a href="#">Pha lê</a></div>
        </div>
    </div>

    <!--trang trí và nhà của-->
    <div class="container-menu">
        <h1><a href="#"> TRANG TRÍ & NHÀ CỬA >></a></h1>
        <p>
            Chúng tôi cung cấp một số mẹo phong thủy đơn giản để hướng dẫn bạn thiết kế nội thất nhà ở nhằm thu hút năng
            lượng tích cực vào không gian cho mọi phòng trong nhà bạn.
        </p>
        <div class="card-grid">
            <div class="card">
                <img src="~/Images/ban-lam-viec.jpg" alt="Phong thủy bàn làm việc">
                <div class="content">
                    <h3><a href="https://kingofficehcm.com/bo-tri-ban-lam-viec-trong-phong-ngu/">Phong thủy đặt bàn làm việc trong phòng ngủ – Năng lượng tốt hay xấu?</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="~/Images/phong-thuy-cho-khu-vuc-trung-tam-nha.webp" alt="Phong thủy trung tâm nhà">
                <div class="content">
                    <h3><a href="https://www.elle.vn/feature/quy-luat-phong-thuy-khong-gian-may-man">8 mẹo phong thủy cho trung tâm ngôi nhà của bạn để mang lại may mắn</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="~/Images/bon-rua-nha-bep.jpg" alt="Phong thủy cửa sổ">
                <div class="content">
                    <h3><a href="https://www.oneday.com.vn/blog/phong-thuy-bep-va-chau-rua/">5 điều cần biết về phong thủy cửa sổ phía trên bồn rửa nhà bếp</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="~/Images/dai-phun-nuoc.webp" alt="Phong thủy đài phun nước">
                <div class="content">
                    <h3><a href="https://ninhbinhstone.com.vn/chon-va-su-dung-dai-phun-nuoc-phong-thuy/">mẹo phong thủy đài phun nước hữu ích mang lại may mắn</a></h3>
                </div>
            </div>
        </div>
    </div>

    <!-- văn phòng và sự nghiệp-->
    <div class="container-menu">
        <h1><a href="#">VĂN PHÒNG & SỰ NHIỆP >></a></h1>
        <p>
            Tìm hiểu các kỹ thuật phong thủy văn phòng đơn giản có thể mang lại thành công trong sự nghiệp và thu hút những người có ích vào cuộc sống của bạn.
        </p>
        <div class="card-grid">
            <div class="card">
                <img src="~/Images/hinh1.jpg" alt="Phong thủy bàn làm việc">
                <div class="content">
                    <h3><a href="https://amore-architecture.vn/hoa-giai-cac-vi-tri-xau-trong-khu-vuc-lam-viec/">bàn làm việc hướng về của sổ - Bố trí phong thủy tốt hay xấu?</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="~/Images/hinh2.jpg" alt="Phong thủy trung tâm nhà">
                <div class="content">
                    <h3><a href="https://ngoisao.vnexpress.net/7-cay-phong-thuy-hut-may-man-tai-loc-nen-de-tren-ban-lam-viec-4395338.html">7 loại cây phong thủy may mắn tuyệt vời cho bàn làm việc văn phòng</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="~/Images/hinh3.jpg" alt="Phong thủy cửa sổ">
                <div class="content">
                    <h3><a href="https://vi.alongwalker.co/lam-the-nao-de-cung-cap-nang-luong-va-phong-thuy-cho-may-tinh-de-ban-cua-ban-de-thanh-cong-trong-su-nghiep-s241539.html">Làm thế nào để tiếp thêm năng lượng và phong thủy cho máy tính để bàn để thành công trong sự nghiệp?</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="~/Images/hinh4.jpg" alt="Phong thủy đài phun nước">
                <div class="content">
                    <h3><a href="https://vi.alongwalker.co/7-loi-khuyen-de-cai-thien-phong-thuy-danh-thiep-cua-ban-ngay-hom-nay-de-duoc-chu-y-s240414.html">7 Mẹo Cải Thiện Phong Thủy Cho Danh Thiếp Của Bạn Ngay Hôm Nay Để Được Chú Ý</a></h3>
                </div>
            </div>
        </div>
    </div>

    <!--Chửa bệnh và tăng cường-->

    <div class="container-menu">
        <h1><a href="#">CHỬA BỆNH VÀ TĂNG CƯỜNG >></a></h1>
        <p>
            Bạn đang tìm kiếm phương pháp chữa bệnh và tăng cường Phong Thủy để giảm bớt đau khổ và tăng cường những điều tích cực? Có rất nhiều loại sản phẩm và bạn có biết ý nghĩa đằng sau chúng không?
        </p>
        <div class="card-grid">
            <div class="card">
                <img src="~/Images/phat-di-lat.jpg" alt="Phong thủy bàn làm việc">
                <div class="content">
                    <h3><a href="https://tieucanhmini.com.vn/hieu-y-nghia-cua-cac-bieu-tuong-pho-bien-trong-phong-thuy/">Biểu tượng phong thủy và ý nghĩa của chúng</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="/Images/thach-anh-tim.jpg" alt="Phong thủy trung tâm nhà">
                <div class="content">
                    <h3><a href="https://vi.alongwalker.co/cay-pha-le-thach-anh-tim-vi-tri-trong-nha-de-co-phong-thuy-tot-s240481.html">cây pha lê thạch anh tím mang lại phong thủy tốt</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="/Images/rong-phong-thuy.jpg" alt="Phong thủy cửa sổ">
                <div class="content">
                    <h3><a href="https://linhvatphongthuy.com.vn/cach-dat-tuong-rong-phong-thuy-dem-den-may-man-su-thinh-vuong">Mẹo Để Có Được May Mắn Với Rồng Phong Thủy</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="/Images/guong-bat-quat.jpg" alt="Phong thủy đài phun nước">
                <div class="content">
                    <h3><a href="https://xemboi.com.vn/guong-bat-quai-y-nghia-va-cach-su-dung-theo-phong-thuy/">Gương Bát Quái Phong Thủy - 5 Điều Cần Biết Trước Khi Sử Dụng</a></h3>
                </div>
            </div>
        </div>
    </div>

    <!-- Sự giàu có -->
    <div class="container-menu">
        <h1><a href="#">SỰ GIÀU CÓ >></a></h1>
        <p>
            Những bí quyết phong thủy để thu hút tài lộc, gia tăng sự thịnh vượng và thành công tài chính trong cuộc sống.
        </p>
        <div class="card-grid">
            <div class="card">
                <img src="/Images/img_9339-edit.jpg" alt="Linh vật tài lộc">
                <div class="content">
                    <h3><a href="https://phongthuyvuong.com/kien-thuc/vat-pham-phong-thuy-thu-hut-tai-loc">Các linh vật phong thủy thu hút tài lộc</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="/Images/trau-ba-de-vuong-e1641362157850.jpg" alt="Cây phong thủy tài lộc">
                <div class="content">
                    <h3><a href="https://celadonboulevard.com.vn/blogs/phong-thuy/vi-tri-dat-cay-phong-thuy-trong-nha">Cách đặt cây phong thủy để gia tăng tài vận</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="/Images/phong-thuy-phong-khach-3-1677244513.jpeg" alt="Khu vực tài lộc">
                <div class="content">
                    <h3><a href="https://ngoisao.vnexpress.net/9-meo-phong-thuy-hut-tai-loc-vao-nha-4363966.html">Phong thủy cho khu vực tài lộc trong ngôi nhà</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="/Images/STTV4-115-80x80cmx03.jpg" alt="Màu sắc tài lộc">
                <div class="content">
                    <h3><a href="https://www.elle.vn/bi-quyet-song/su-dung-mau-sac-phong-thuy-thu-hut-tai-loc">Những màu sắc mang lại tài lộc và thịnh vượng</a></h3>
                </div>
            </div>
        </div>
    </div>

    <!-- Yêu -->
    <div class="container-menu">
        <h1><a href="#">YÊU >></a></h1>
        <p>
            Khám phá những bí quyết phong thủy giúp tăng cường tình duyên, cải thiện mối quan hệ và mang lại hạnh phúc trong cuộc sống.
        </p>
        <div class="card-grid">
            <div class="card">
                <img src="/Images/th.jpg" alt="Phong thủy tình yêu">
                <div class="content">
                    <h3><a href="https://lichngaytot.com/phong-thuy/cach-kich-hoat-cung-tinh-duyen-284-216885.html">Cách sử dụng biểu tượng phong thủy để cải thiện tình duyên</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="/Images/OIP.jpg" alt="Phong thủy phòng ngủ">
                <div class="content">
                    <h3><a href="https://anlocgroup.com/phong-thuy-phong-ngu/">Phong thủy cho phòng ngủ để tăng cường hạnh phúc gia đình</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="/Images/giai-phap-kien-truc-nhung-cach-giup-tiet-kiem-nang-luong-cho-nha-o-4.jpg" alt="Sắp xếp nhà cửa tình yêu">
                <div class="content">
                    <h3><a href="https://vi.alongwalker.co/7-cach-sap-xep-nha-cua-ruoc-may-man-va-tinh-yeu-s320847.html">Cách sắp xếp nhà cửa thu hút năng lượng tình yêu</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="/Images/7c712753167188cad11df7d0337bae9d.jpg" alt="Phong thủy tình cảm">
                <div class="content">
                    <h3><a href="https://ngoisao.vnexpress.net/8-meo-phong-thuy-giup-cai-thien-tinh-duyen-va-hon-nhan-4359385.html">Những mẹo phong thủy giúp cải thiện mối quan hệ tình cảm</a></h3>
                </div>
            </div>
        </div>
    </div>

    <!-- Nhân tướng học -->
    <div class="container-menu">
        <h1><a href="#">NHÂN TƯỚNG HỌC >></a></h1>
        <p>
            Tìm hiểu nhân tướng học để khám phá ý nghĩa của nét tướng và dự đoán vận mệnh thông qua gương mặt và các dấu hiệu đặc trưng.
        </p>
        <div class="card-grid">
            <div class="card">
                <img src="/Images/R.jpg" alt="Nhân tướng và phong thủy">
                <div class="content">
                    <h3><a href="https://phongthuynguyenhoang.com/xem-nhan-tuong-hoc/">Nhân tướng học và phong thủy: Cách xác định nét tướng tốt</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="/Images/th (1).jpg" alt="Dự đoán vận mệnh">
                <div class="content">
                    <h3><a href="https://thientue.vn/13-dac-diem-nhan-tuong-hoc-noi-len-tinh-cach-va-van-so-cua-con-nguoi">Tìm hiểu nhân tướng học để dự đoán vận mệnh</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="/Images/3562cc94-a214-4b7f-b85a-1c624fcad910.webp" alt="Dấu hiệu trên khuôn mặt">
                <div class="content">
                    <h3><a href="https://phongthuyvuong.com/kien-thuc/xem-tuong-qua-13-bo-vi-tren-khuon-mat">Các dấu hiệu trên khuôn mặt và ý nghĩa phong thủy</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="/Images/nthh.jpg" alt="Xem tướng và dự đoán">
                <div class="content">
                    <h3><a href="https://phongthuynguyenhoang.com/xem-tuong-mat-phu-nu/">Xem nhân tướng và phong thủy để dự đoán tương lai</a></h3>
                </div>
            </div>
        </div>
    </div>

    <!-- Truyền thống -->
    <div class="container-menu">
        <h1><a href="#">TRUYỀN THỐNG >></a></h1>
        <p>
            Khám phá các phong tục và biểu tượng phong thủy truyền thống, giúp bạn hòa hợp hơn với cuộc sống và văn hóa phong thủy.
        </p>
        <div class="card-grid">
            <div class="card">
                <img src="/Images/oipp.jpg" alt="Phong tục phong thủy">
                <div class="content">
                    <h3><a href="https://vietnammoi.vn/nguon-goc-y-nghia-va-phong-tuc-truyen-thong-cua-tet-trung-thu-co-truyen-141453.htm">Những phong tục truyền thống và ý nghĩa phong thủy</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="/Images/vat-pham-phong-thuy-ty-huu.jpg" alt="Biểu tượng phong thủy">
                <div class="content">
                    <h3><a href="https://tuvi.vn/tat-tan-tat-ve-vat-pham-phong-thuy-y-nghia-cach-chon-vat-pham-va-ung-dung-trong-a1083">Vật phẩm phong thủy cổ truyền và cách sử dụng đúng</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="/Images/rr.jpg" alt="Biểu tượng trong văn hóa">
                <div class="content">
                    <h3><a href="https://anhsang.edu.vn/bieu-tuong-may-man-cua-viet-nam/">Các biểu tượng phong thủy phổ biến trong văn hóa Việt Nam</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="/Images/oip1.jpg" alt="Phong tục cần biết">
                <div class="content">
                    <h3><a href="https://mytour.vn/vi/blog/bai-viet/top-17-phong-tuc-truyen-thong-tai-tet-co-truyen-viet-nam.html">Những phong tục phong thủy truyền thống cần biết</a></h3>
                </div>
            </div>
        </div>
    </div>

    

    <style>


        
        .header-blog {
            text-align: center;
            font-size: 32px;
            font-weight: bold;
            margin-top: 40px;
            color: #000;
        }

        .subheader {
            text-align: center;
            font-size: 18px;
            color: #555;
            margin-bottom: 30px;
        }

        .container-blog {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
            max-width: 1200px;
            margin: 0 auto;
        }

            .container-blog a {
                color: aliceblue;
                text-decoration: none;
            }

        .category {
            position: relative;
            width: 200px;
            height: 120px;
            border-radius: 8px;
            overflow: hidden;
            cursor: pointer;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

            .category img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.3s ease;
            }

            .category:hover img {
                transform: scale(1.1);
            }

        .category-title {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 10px;
            color: #fff;
            font-weight: bold;
            font-size: 18px;
            text-align: center;
            background: rgba(0, 0, 0, 0.5);
            text-transform: uppercase;
        }


        /* trang trí văn phòng*/
        .container-menu {
            text-align: center;
            max-width: 1200px;
            margin: 0 auto;
            margin-top: 40px;
        }

        .container h1 {
            font-size: 24px;
            font-weight: bold;
        }

        .container p {
            color: #777;
        }

        .card-grid {
            display: flex;
            gap: 20px;
            justify-content: center;
            flex-wrap: wrap;
        }

        .card {
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            width: 250px;
            overflow: hidden;
            text-align: left;
            cursor: pointer;
        }

            .card img {
                width: 100%;
                height: 150px;
                object-fit: cover;
                transition: transform 0.3s ease;
            }

            .card:hover img {
                transform: scale(1.1);
            }

            .card .content {
                padding: 15px;
            }

                .card .content h3 {
                    font-size: 18px;
                    margin: 0;
                }

        a {
            text-decoration: none;
        }
    </style>
</div>
