@page
@model KoiProject.WebApplication.Pages.Phongthuy2024Model
@{
}
<!-- lấy cảm hứng từ blog-->

<div class=" Phongthuy">
    <div class="header-blog">Phong Thủy</div>
    <div class="subheader">
        Một blog Phong thủy hàng đầu và kho kiến thức bao gồm tất cả các khía cạnh của nghệ thuật cổ
        xưa này
    </div>

    <div class="container-blog">
        <div class="category">
            <img src="~/Images/index/category/Tranh-Phong-Khach.jpg" alt="Trang chủ & Trang trí">
            <div class="category-title"><a href="#">Trang chủ & Trang trí</a></div>
        </div>
        <div class="category">
            <img src="~/Images/index/category/anh-van-phong.jpg" alt="Văn phòng & Sự nghiệp">
            <div class="category-title"><a href="#">Văn phòng & Sự nghiệp</a></div>
        </div>
        <div class="category">
            <img src="~/Images/index/category/su-tu-da.jpg" alt="Chữa bệnh & Tăng cường">
            <div class="category-title"><a href="#">Chữa bệnh & Tăng cường</a></div>
        </div>
        <div class="category">
            <img src="~/Images/index/category/tien.jpg" alt="Sự giàu có">
            <div class="category-title"><a href="#">Sự giàu có</a></div>
        </div>
        <div class="category">
            <img src="~/Images/index/category/tinh-yeu.jpg" alt="Yêu">
            <div class="category-title"><a href="#">Yêu</a></div>
        </div>
        <div class="category">
            <img src="~/Images/index/category/nhan-tuong-hoc.jpg" alt="Nhân tướng học">
            <div class="category-title"><a href="#">Nhân tướng học</a></div>
        </div>
        <div class="category">
            <img src="~/Images/index/category/truyen-thong.jpg" alt="Truyền thống">
            <div class="category-title"><a href="#">Truyền thống</a></div>
        </div>
        <div class="category">
            <img src="~/Images/index/category/phong-cach-song.jpg" alt="Phong cách sống">
            <div class="category-title"><a href="#">Phong cách sống</a></div>
        </div>
        <div class="category">
            <img src="~/Images/index/category/phong-thuy-hang-nam.jpg" alt="Phong thủy hàng năm">
            <div class="category-title"><a href="#">Phong thủy hàng năm</a></div>
        </div>
        <div class="category">
            <img src="~/Images/index/category/pha-le.jpg" alt="Pha lê">
            <div class="category-title"><a href="#">Pha lê</a></div>
        </div>
    </div>

    <!--trang trí và nhà của-->
    <div class="container-menu">
        <h1><a href="#"> TRANG TRÍ & NHÀ CỬA >></a></h1>
        <p>
            Chúng tôi cung cấp một số mẹo phong thủy đơn giản để hướng dẫn bạn thiết kế nội thất nhà ở nhằm thu hút năng
            lượng tích cực vào không gian cho mọi phòng trong nhà bạn.
        </p>
        <div class="card-grid">
            <div class="card">
                <img src="~/Images/index/trangchutrangtri/ban-lam-viec.jpg" alt="Phong thủy bàn làm việc">
                <div class="content">
                    <h3><a href="#">Phong thủy đặt bàn làm việc trong phòng ngủ – Năng lượng tốt hay xấu?</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="~/Images/index/trangchutrangtri/phong-thuy-cho-khu-vuc-trung-tam-nha.webp" alt="Phong thủy trung tâm nhà">
                <div class="content">
                    <h3><a href="#">8 mẹo phong thủy cho trung tâm ngôi nhà của bạn để mang lại may mắn</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="~/Images/index/trangchutrangtri/bon-rua-nha-bep.jpg" alt="Phong thủy cửa sổ">
                <div class="content">
                    <h3><a href="#">5 điều cần biết về phong thủy cửa sổ phía trên bồn rửa nhà bếp</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="~/Images/index/trangchutrangtri/dai-phun-nuoc.webp" alt="Phong thủy đài phun nước">
                <div class="content">
                    <h3><a href="#">mẹo phong thủy đài phun nước hữu ích mang lại may mắn</a></h3>
                </div>
            </div>
        </div>
    </div>

    <!-- văn phòng và sự nghiệp-->
    <div class="container-menu">
        <h1><a href="#">VĂN PHÒNG & SỰ NHIỆP >></a></h1>
        <p>
            Tìm hiểu các kỹ thuật phong thủy văn phòng đơn giản có thể mang lại thành công trong sự nghiệp và thu hút những người có ích vào cuộc sống của bạn.
        </p>
        <div class="card-grid">
            <div class="card">
                <img src="~/Images/index/vanphongsunghiep/hinh1.jpg" alt="Phong thủy bàn làm việc">
                <div class="content">
                    <h3><a href="#">bàn làm việc hướng về của sổ - Bố trí phong thủy tốt hay xấu?</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="~/Images/index/vanphongsunghiep/hinh2.jpg" alt="Phong thủy trung tâm nhà">
                <div class="content">
                    <h3><a href="#">7 loại cây phong thủy may mắn tuyệt vời cho bàn làm việc văn phòng</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="~/Images/index/vanphongsunghiep/hinh3.jpg" alt="Phong thủy cửa sổ">
                <div class="content">
                    <h3><a href="#">Làm thế nào để tiếp thêm năng lượng và phong thủy cho máy tính để bàn để thành công trong sự nghiệp?</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="~/Images/index/vanphongsunghiep/hinh4.jpg" alt="Phong thủy đài phun nước">
                <div class="content">
                    <h3><a href="#">7 Mẹo Cải Thiện Phong Thủy Cho Danh Thiếp Của Bạn Ngay Hôm Nay Để Được Chú Ý</a></h3>
                </div>
            </div>
        </div>
    </div>

    <!--Chửa bệnh và tăng cường-->

    <div class="container-menu">
        <h1><a href="#">CHỬA BỆNH VÀ TĂNG CƯỜNG >></a></h1>
        <p>
            Bạn đang tìm kiếm phương pháp chữa bệnh và tăng cường Phong Thủy để giảm bớt đau khổ và tăng cường những điều tích cực? Có rất nhiều loại sản phẩm và bạn có biết ý nghĩa đằng sau chúng không?
        </p>
        <div class="card-grid">
            <div class="card">
                <img src="~/Images/index/chuabenhvatangcuong/phat-di-lat.jpg" alt="Phong thủy bàn làm việc">
                <div class="content">
                    <h3><a href="#">Biểu tượng phong thủy và ý nghĩa của chúng</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="/Images/index/chuabenhvatangcuong/thach-anh-tim.jpg" alt="Phong thủy trung tâm nhà">
                <div class="content">
                    <h3><a href="#">cây pha lê thạch anh tím mang lại phong thủy tốt</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="/Images/index/chuabenhvatangcuong/rong-phong-thuy.jpg" alt="Phong thủy cửa sổ">
                <div class="content">
                    <h3><a href="#">5 Mẹo Để Có Được May Mắng Với Rồng Phong Thủy</a></h3>
                </div>
            </div>
            <div class="card">
                <img src="/Images/index/chuabenhvatangcuong/guong-bat-quat.jpg" alt="Phong thủy đài phun nước">
                <div class="content">
                    <h3><a href="#">Gương Bát Quái Phong Thủy - 5 Điều Cần Biết Trước Khi Sử Dụng</a></h3>
                </div>
            </div>
        </div>
    </div>
    <style>


        /*lấy cảm hứng từ blog*/
        .header-blog {
            text-align: center;
            font-size: 32px;
            font-weight: bold;
            margin-top: 40px;
            color: #000;
        }

        .subheader {
            text-align: center;
            font-size: 18px;
            color: #555;
            margin-bottom: 30px;
        }

        .container-blog {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
            max-width: 1200px;
            margin: 0 auto;
        }

            .container-blog a {
                color: aliceblue;
                text-decoration: none;
            }

        .category {
            position: relative;
            width: 200px;
            height: 120px;
            border-radius: 8px;
            overflow: hidden;
            cursor: pointer;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

            .category img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.3s ease;
            }

            .category:hover img {
                transform: scale(1.1);
            }

        .category-title {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 10px;
            color: #fff;
            font-weight: bold;
            font-size: 18px;
            text-align: center;
            background: rgba(0, 0, 0, 0.5);
            text-transform: uppercase;
        }


        /* trang trí văn phòng*/
        .container-menu {
            text-align: center;
            max-width: 1200px;
            margin: 0 auto;
            margin-top: 40px;
        }

        .container h1 {
            font-size: 24px;
            font-weight: bold;
        }

        .container p {
            color: #777;
        }

        .card-grid {
            display: flex;
            gap: 20px;
            justify-content: center;
            flex-wrap: wrap;
        }

        .card {
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            width: 250px;
            overflow: hidden;
            text-align: left;
            cursor: pointer;
        }

            .card img {
                width: 100%;
                height: 150px;
                object-fit: cover;
                transition: transform 0.3s ease;
            }

            .card:hover img {
                transform: scale(1.1);
            }

            .card .content {
                padding: 15px;
            }

                .card .content h3 {
                    font-size: 18px;
                    margin: 0;
                }

        a {
            text-decoration: none;
        }
    </style>
</div>
