@page
@model KoiProject.WebApplication.Pages.tintuc2Model
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fonts/themify-icons/themify-icons.css">
    <title>Tin Tức</title>
    <style>
        .container {
            width: 80%;
            margin: auto;
            margin-bottom: 20px;
        }

        .header {
            text-align: center;
            margin-top: 20px;
        }

        .date {
            font-size: 14px;
            color: #777;
            text-align: center;
            margin-bottom: 20px;
        }

        .header h2 {
            color: #007ACC;
        }

        .content img {
            width: 100%;
            height: auto;
            margin: 20px 0;
        }

        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>Thiện Nguyện "Hà Giang Yêu Thương" tại Xín Mần</h2>
        </div>

        <div class="date ti-alarm-clock"> Ngày đăng: 05/04/2024</div>
        <div class="content">
            <p>Ngày 29/3/2024, Hội thiện nguyện Hà Nam, Công ty Koilover phối hợp với UBND xã Trung Thịnh và Trung tâm Y tế huyện tổ chức Chương trình thiện nguyện "Hà Giang yêu thương" tại xã Trung Thịnh. Dự chương trình thiện nguyện có đồng chí Đỗ Thị My, Phó Giám đốc Sở Y tế tỉnh Hà Giang; đồng chí Ngô Văn Tăng, Phó Chủ tịch UBND huyện. Chương trình thiện nguyện bao gồm khám bệnh, tư vấn, cấp thuốc miễn phí và trao tặng quà cho học sinh trên địa bàn xã.</p>

            <img src="/Images/tintuc2/picture1.jpg" alt="picture1">

            <p>Tại chương trình, Hội thiện nguyện Hà Nam đã trao tặng 450 suất quà cho học sinh Trường Tiểu học và Trường THCS xã Trung Thịnh; trao tặng đồ dùng phục vụ tại các bếp ăn tập thể và phục vụ sinh hoạt của học sinh ở bán trú của Trường Tiểu học và Trường THCS xã Trung Thịnh; trao tặng trang thiết bị văn phòng và đồ dùng cho bệnh nhân nằm điều trị tại Trạm Y tế xã Trung Thịnh; khám bệnh, tư vấn và cấp thuốc miễn phí cho đối tượng người có công, người cao tuổi, người nghèo và học sinh trên địa bàn xã Trung Thịnh.</p>

            <img src="/Images/tintuc2/picture2.jpg" alt="picture2">
            <img src="/Images/tintuc2/picture3.jpg" alt="picture3">
            <img src="/Images/tintuc2/picture4.jpg" alt="picture4">
            <img src="/Images/tintuc2/picture5.jpg" alt="picture5">
            <img src="/Images/tintuc2/picture6.jpg" alt="picture6">
            <img src="/Images/tintuc2/picture7.jpg" alt="picture7">
            <img src="/Images/tintuc2/picture8.jpg" alt="picture8">
            <img src="/Images/tintuc2/picture9.jpg" alt="picture9">
            <img src="/Images/tintuc2/picture10.jpg" alt="picture10">

            <p>Koiloverr hy vọng góp một chút sức nhỏ, chia sẻ yêu thương tới tât cả đồng bào Việt Nam.</p>

        </div>
    </div>

</body>
</html>